---
layout: default
title: Publications
permalink: /publications/
---
{% comment %}Published and accepted papers only (Sean, 2026-10-03): an entry with a status (under review / working) is never shown.{% endcomment %}
{% assign published = site.data.publications | where_exp: "p", "p.status == nil" %}
{% assign au = published | map: "authors" | join: " " %}
{% if au contains ".*" or au contains ".#" %}<p class="pub-key">{% if au contains ".*" %}<span><sup class="mk">*</sup> Graduate student advisee</span>{% endif %}{% if au contains ".#" %}<span><sup class="mk">#</sup> Undergraduate student advisee</span>{% endif %}</p>{% endif %}
{% assign years = published | group_by: "year" %}
{% for y in years %}<h2>{{ y.name }}</h2><ol class="pubs">{% for p in y.items %}{% include pub.html p=p %}{% endfor %}</ol>{% endfor %}
